In [1]:
import pandas as pd

In [30]:
with open('농업경영체_시군구_지목현황.txt', 'r', encoding='utf-8-sig') as f:
    start=0
    for line in f.readlines():
        if start==0:
            cols=line.rstrip().split(',')
            total=pd.DataFrame(columns=cols)
            start+=1
            dic={}
            for col in cols:
                dic[col]=[]
        else:
            datas=line.rstrip()
            temp=''
            k=0
            for s in datas:
                if s=='"' and k==0:
                    k=1
                elif k==1 and s!='"':
                    if s!=',':
                        temp+=s
                elif s=='"' and k==1:
                    k=0
                else:
                    temp+=s
            datas=temp.split(',')
            for i in range(len(cols)):
                dic[cols[i]].append(datas[i])
    f.close()

In [31]:
for col in cols:
    total[col]=dic[col]

In [36]:
total['지급필지수(개)']=total['지급필지수(개)'].astype('int')
total['지급면적(ha)']=total['지급면적(ha)'].astype('float')

In [38]:
total.head()

      시도   시군 실제지목 구분  지급필지수(개)  지급면적(ha)
0  서울특별시  중랑구      과수         2      0.52
1  서울특별시  도봉구       밭         1      0.10
2  서울특별시  노원구      기타         1      0.60
3  서울특별시  강서구       밭        49      9.65
4  서울특별시  강서구       논       224     65.63

In [39]:
total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 927 entries, 0 to 926
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시도        927 non-null    object
 1   시군        927 non-null    object
 2   실제지목 구분   927 non-null    object
 3   지급필지수(개)  927 non-null    int32
 4   지급면적(ha)  927 non-null    float64
dtypes: float64(1), int32(1), object(3)
memory usage: 32.7+ KB

In [47]:
# 실제지목 구분 종류
set(total['실제지목 구분'])

{'과수', '기타', '논', '밭', '임야', '초지'}

In [40]:
# 시군별로 농경지 합치기
data_df=total.groupby(['시도','시군']).sum()

In [46]:
total.query("시군=='강릉시'")

      시도   시군 실제지목 구분  지급필지수(개)  지급면적(ha)
271  강원도  강릉시       밭     18916   3092.30
272  강원도  강릉시       논     12146   2315.38
273  강원도  강릉시      과수       816    157.59
274  강원도  강릉시      임야         1      0.22
275  강원도  강릉시      초지         1      0.18
276  강원도  강릉시      기타        13      1.91

In [48]:
data_df.reset_index(inplace=True)

In [49]:
data_df.head()

    시도   시군  지급필지수(개)  지급면적(ha)
0  강원도  강릉시     31893   5567.58
1  강원도  고성군     17771   3640.29
2  강원도  동해시      3445    466.79
3  강원도  삼척시     14810   2756.34
4  강원도  속초시      1953    331.89