In [1]:
import pandas as pd
import numpy as np
import datetime 
from dateutil.relativedelta import relativedelta
from tqdm import tqdm
from scipy import stats

In [2]:
# 데이터 불러오기
weather=pd.read_csv("risk_data/Weather_risk_table_final.csv", encoding='utf-8-sig')
birds=pd.read_csv("risk_data/birds_risk_table.csv", encoding='utf-8-sig')
distance=pd.read_csv("risk_data/distance_risk_final.csv", encoding='utf-8-sig')

In [3]:
weather.head()

,시도,month,day,avg_temp(C),daily_rain(mm),avg_r_humidity(%),temp_index,rain_index,humidity_index,risk
0,강원영동,1,1,1.2,0.0,33.2,0.0,0.0,0.0,0.0
1,강원영동,1,2,3.2,0.0,34.7,0.0,0.0,0.0,0.0
2,강원영동,1,3,3.4,0.0,35.5,0.0,0.0,0.0,0.0
3,강원영동,1,4,4.2,0.0,39.0,0.0,0.0,0.0,0.0
4,강원영동,1,5,3.2,1.8,43.8,0.0,0.0,0.0,0.0

In [4]:
birds.head()

   month     시도  발생건수(타겟)      철새수   result 철새수/result  표준 risk  risk
0      1    강원도         2   626130   947733        66%        5     3
1      1    경기도        55  1242626  1072138       116%        5     5
2      1   경상남도        11   347682   968858        36%        5     1
3      1   경상북도         2   554884   947733        59%        5     2
4      1  광주광역시         0    49915   943038         5%        5     0

In [5]:
distance.head()

   month  dist_range  cnt  cumulative  risk
0      1           0    0           0    10
1      1          10    2           2    10
2      1          20    4           6    10
3      1          30    8          14    10
4      1          40    7          21    10

In [6]:
# 전국 시군 데이터 가져오기
all_sigun=pd.read_csv("전국_시군구(완).csv", encoding='utf-8-sig')

In [7]:
all_sigun.head()

          주소           x          y                                 xy
0  서울특별시 종로구  126.978990  37.573504  126.978989954189,37.5735042429813
1   서울특별시 중구  126.997555  37.563808  126.997555182293,37.5638077703601
2  서울특별시 용산구  126.990582  37.532431  126.990582345331,37.5324310391314
3  서울특별시 성동구  127.036930  37.563427   127.036930141185,37.563427205337
4  서울특별시 광진구  127.082385  37.538558  127.082385189457,37.5385583136667

In [8]:
all_sigun['시도']=np.nan
all_sigun['시군구']=np.nan
for i in range(len(all_sigun)):
    temp=all_sigun.loc[i,'주소'].split()
    all_sigun.loc[i,'시도']=temp[0]
    all_sigun.loc[i,'시군구']=temp[1]

In [9]:
all_sigun.head()

,주소,x,y,xy,시도,시군구
0,서울특별시 종로구,126.978990,37.573504,"126.978989954189,37.5735042429813",서울특별시,종로구
1,서울특별시 중구,126.997555,37.563808,"126.997555182293,37.5638077703601",서울특별시,중구
2,서울특별시 용산구,126.990582,37.532431,"126.990582345331,37.5324310391314",서울특별시,용산구
3,서울특별시 성동구,127.036930,37.563427,"127.036930141185,37.563427205337",서울특별시,성동구
4,서울특별시 광진구,127.082385,37.538558,"127.082385189457,37.5385583136667",서울특별시,광진구

In [10]:
yeongdong=['강릉시', '동해시', '속초시', '삼척시', '태백시', '고성군', '양양군']
yeongse=['원주시','춘천시','철원군','화천군','양구군','인제군','홍천군','평창군','정선군','영월군','횡성군']

In [11]:
print(set(weather['시도']))

{'강원영동', '전라남도', '경상북도', '경상남도', '제주특별자치도', '충청북도', '강원영서', '충청남도', '서울경기', '전라북도'}

In [12]:
print(set(all_sigun['시도']))

{'광주광역시', '강원도', '전라남도', '경상북도', '울산광역시', '경상남도', '제주특별자치도', '서울특별시', '충청북도', '인천광역시', '부산광역시', '충청남도', '세종특별자치시', '전라북도', '경기도', '대구광역시', '대전광역시'}

In [18]:
# 날씨 시도와 전국 시도 맞추기
w_dic={}
w_dic['인천광역시']='서울경기'
w_dic['대구광역시']='경상북도'
w_dic['부산광역시']='경상남도'
w_dic['울산광역시']='경상남도'
w_dic['서울특별시']='서울경기'
w_dic['대전광역시']='충청남도'
w_dic['경기도']='서울경기'
w_dic['광주광역시']='전라남도'
w_dic['세종특별자치시']='충청남도'
for sido in set(weather['시도']):
    if sido=='강원영동':
        for n in yeongdong:
            w_dic[n]=sido
    elif sido=='강원영서':
        for n in yeongse:
            w_dic[n]=sido
    else:
        w_dic[sido]=sido

In [19]:
print(w_dic)

{'인천광역시': '서울경기', '대구광역시': '경상북도', '부산광역시': '경상남도', '울산광역시': '경상남도', '서울특별시': '서울경기', '대전광역시': '충청남도', '경기도': '서울경기', '광주광역시': '전라남도', '세종특별자치시': '충청남도', '강릉시': '강원영동', '동해시': '강원영동', '속초시': '강원영동', '삼척시': '강원영동', '태백시': '강원영동', '고성군': '강원영동', '양양군': '강원영동', '전라남도': '전라남도', '경상북도': '경상북도', '경상남도': '경상남도', '제주특별자치도': '제주특별자치도', '충청북도': '충청북도', '원주시': '강원영서', '춘천시': '강원영서', '철원군': '강원영서', '화천군': '강원영서', '양구군': '강원영서', '인제군': '강원영서', '홍천군': '강원영서', '평창군': '강원영서', '정선군': '강원영서', '영월군': '강원영서', '횡성군': '강원영서', '충청남도': '충청남도', '서울경기': '서울경기', '전라북도': '전라북도'}

In [20]:
set(distance['month'])

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [27]:
# 전체 데이터 만들기
cols=['month','day','시도','시군구','철새수','최초발생거리','평균온도','일강수량','상대습도','위험도']
total_df=pd.DataFrame(columns=cols)
total_index_df=pd.DataFrame(columns=cols)
total=[]
total_index=[]
for month in tqdm(range(1,13)):
    start_date='2020-'+str(month)+'-01'
    start_date=datetime.datetime.strptime(start_date, '%Y-%m-%d')
    end_date=start_date+relativedelta(months=1)-datetime.timedelta(days=1)
    for day in tqdm(range(1,end_date.day+1)):
        for i in range(len(all_sigun)):
            q3=distance.query("month==@month").reset_index(drop=True)
            for j in range(len(q3)):
                temp={}
                index_temp={}
                temp['month']=month
                temp['day']=day
                sido=all_sigun.loc[i,'시도']
                temp['시도']=sido
                sigun=all_sigun.loc[i,'시군구']
                temp['시군구']=sigun
                index_temp['month']=month
                index_temp['day']=day
                index_temp['시도']=all_sigun.loc[i,'시도']
                index_temp['시군구']=all_sigun.loc[i,'시군구']

                q1=birds.query("month==@month and 시도==@sido").reset_index(drop=True)
                if len(q1)==0:
                    temp['철새수']=0
                    index_temp['철새수']=0
                else:
                    temp['철새수']=q1.loc[0,'철새수']
                    index_temp['철새수']=q1.loc[0,'risk']

                if temp['시도']=='강원도':
                    r_sigun=w_dic[sigun]
                    q2=weather.query("month==@month and day==@day and 시도==@r_sigun").reset_index(drop=True)
                else:
                    r_sido=w_dic[sido]
                    q2=weather.query("month==@month and day==@day and 시도==@r_sido").reset_index(drop=True)
                temp['평균온도']=q2.loc[0,'avg_temp(C)']
                temp['일강수량']=q2.loc[0,'daily_rain(mm)']
                temp['상대습도']=q2.loc[0,'avg_r_humidity(%)']
                index_temp['평균온도']=q2.loc[0,'temp_index']
                index_temp['일강수량']=q2.loc[0,'rain_index']
                index_temp['상대습도']=q2.loc[0,'humidity_index']

                temp['최초발생거리']=q3.loc[j,'dist_range']
                index_temp['최초발생거리']=q3.loc[j,'risk']
                total.append(temp)
                total_index.append(index_temp)

  0%|                                                                                           | 0/12 [00:00<?, ?it/s]
  0%|                                                                                           | 0/31 [00:00<?, ?it/s]
  3%|██▋                                                                                | 1/31 [00:21<10:52, 21.77s/it]
  6%|█████▎                                                                             | 2/31 [00:43<10:26, 21.62s/it]
 10%|████████                                                                           | 3/31 [01:04<10:06, 21.65s/it]
 13%|██████████▋                                                                        | 4/31 [01:27<09:49, 21.82s/it]
 16%|█████████████▍                                                                     | 5/31 [01:49<09:29, 21.91s/it]
 19%|████████████████                                                                   | 6/31 [02:10<09:04, 21.79s/it]
 23%|██████████████████▋                                                                | 7/31 [02:32<08:41, 21.71s/it]
 26%|█████████████████████▍                                                             | 8/31 [02:53<08:17, 21.65s/it]
 29%|████████████████████████                                                           | 9/31 [03:15<07:55, 21.63s/it]
 32%|██████████████████████████▍                                                       | 10/31 [03:36<07:34, 21.62s/it]
 35%|█████████████████████████████                                                     | 11/31 [03:58<07:12, 21.61s/it]
 39%|███████████████████████████████▋                                                  | 12/31 [04:22<07:01, 22.18s/it]
 42%|██████████████████████████████████▍                                               | 13/31 [04:44<06:39, 22.22s/it]
 45%|█████████████████████████████████████                                             | 14/31 [05:07<06:22, 22.52s/it]
 48%|███████████████████████████████████████▋                                          | 15/31 [05:29<05:57, 22.32s/it]
 52%|██████████████████████████████████████████▎                                       | 16/31 [05:52<05:38, 22.58s/it]
 55%|████████████████████████████████████████████▉                                     | 17/31 [06:15<05:19, 22.80s/it]
 58%|███████████████████████████████████████████████▌                                  | 18/31 [06:38<04:54, 22.65s/it]
 61%|██████████████████████████████████████████████████▎                               | 19/31 [07:00<04:30, 22.56s/it]
 65%|████████████████████████████████████████████████████▉                             | 20/31 [07:23<04:07, 22.54s/it]
 68%|███████████████████████████████████████████████████████▌                          | 21/31 [07:45<03:44, 22.45s/it]
 71%|██████████████████████████████████████████████████████████▏                       | 22/31 [08:07<03:21, 22.40s/it]
 74%|████████████████████████████████████████████████████████████▊                     | 23/31 [08:29<02:58, 22.32s/it]
 77%|███████████████████████████████████████████████████████████████▍                  | 24/31 [08:52<02:36, 22.35s/it]
 81%|██████████████████████████████████████████████████████████████████▏               | 25/31 [09:14<02:13, 22.27s/it]
 84%|████████████████████████████████████████████████████████████████████▊             | 26/31 [09:36<01:51, 22.21s/it]
 87%|███████████████████████████████████████████████████████████████████████▍          | 27/31 [09:58<01:28, 22.20s/it]
 90%|██████████████████████████████████████████████████████████████████████████        | 28/31 [10:20<01:06, 22.23s/it]
 94%|████████████████████████████████████████████████████████████████████████████▋     | 29/31 [10:42<00:44, 22.23s/it]
 97%|███████████████████████████████████████████████████████████████████████████████▎  | 30/31 [11:05<00:22, 22.21s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 31/31 [11:27<00:00, 22.17s/it]
  8%|██████▋                                                                         | 1/12 [11:27<2:06:00, 687.30s/it]
  0%|                                                                                           | 0/29 [00:00<?, ?it/s]
  3%|██▊                                                                                | 1/29 [00:25<12:07, 25.99s/it]
  7%|█████▋                                                                             | 2/29 [00:51<11:39, 25.91s/it]
 10%|████████▌                                                                          | 3/29 [01:17<11:15, 26.00s/it]
 14%|███████████▍                                                                       | 4/29 [01:44<10:51, 26.08s/it]
 17%|██████████████▎                                                                    | 5/29 [02:10<10:25, 26.08s/it]
 21%|█████████████████▏                                                                 | 6/29 [02:36<10:00, 26.10s/it]
 24%|████████████████████                                                               | 7/29 [03:02<09:34, 26.13s/it]
 28%|██████████████████████▉                                                            | 8/29 [03:28<09:08, 26.10s/it]
 31%|█████████████████████████▊                                                         | 9/29 [03:54<08:41, 26.06s/it]
 34%|████████████████████████████▎                                                     | 10/29 [04:20<08:16, 26.13s/it]
 38%|███████████████████████████████                                                   | 11/29 [04:46<07:49, 26.09s/it]
 41%|█████████████████████████████████▉                                                | 12/29 [05:12<07:22, 26.00s/it]
 45%|████████████████████████████████████▊                                             | 13/29 [05:38<06:56, 26.02s/it]
 48%|███████████████████████████████████████▌                                          | 14/29 [06:04<06:29, 25.93s/it]
 52%|██████████████████████████████████████████▍                                       | 15/29 [06:30<06:03, 25.99s/it]
 55%|█████████████████████████████████████████████▏                                    | 16/29 [06:56<05:39, 26.11s/it]
 59%|████████████████████████████████████████████████                                  | 17/29 [07:22<05:12, 26.02s/it]
 62%|██████████████████████████████████████████████████▉                               | 18/29 [07:48<04:44, 25.90s/it]
 66%|█████████████████████████████████████████████████████▋                            | 19/29 [08:13<04:17, 25.75s/it]
 69%|████████████████████████████████████████████████████████▌                         | 20/29 [08:39<03:51, 25.76s/it]
 72%|███████████████████████████████████████████████████████████▍                      | 21/29 [09:05<03:27, 25.91s/it]
 76%|██████████████████████████████████████████████████████████████▏                   | 22/29 [09:31<03:01, 25.93s/it]
 79%|█████████████████████████████████████████████████████████████████                 | 23/29 [09:58<02:36, 26.10s/it]
 83%|███████████████████████████████████████████████████████████████████▊              | 24/29 [10:24<02:10, 26.10s/it]
 86%|██████████████████████████████████████████████████████████████████████▋           | 25/29 [10:50<01:44, 26.12s/it]
 90%|█████████████████████████████████████████████████████████████████████████▌        | 26/29 [11:16<01:18, 26.08s/it]
 93%|████████████████████████████████████████████████████████████████████████████▎     | 27/29 [11:42<00:51, 26.00s/it]
 97%|███████████████████████████████████████████████████████████████████████████████▏  | 28/29 [12:08<00:25, 26.00s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 29/29 [12:34<00:00, 26.01s/it]
 17%|█████████████▎                                                                  | 2/12 [24:01<2:01:07, 726.73s/it]
  0%|                                                                                           | 0/31 [00:00<?, ?it/s]
  3%|██▋                                                                                | 1/31 [00:25<12:55, 25.83s/it]
  6%|█████▎                                                                             | 2/31 [00:51<12:29, 25.86s/it]
 10%|████████                                                                           | 3/31 [01:17<12:05, 25.92s/it]
 13%|██████████▋                                                                        | 4/31 [01:43<11:42, 26.02s/it]
 16%|█████████████▍                                                                     | 5/31 [02:09<11:14, 25.92s/it]
 19%|████████████████                                                                   | 6/31 [02:35<10:47, 25.90s/it]
 23%|██████████████████▋                                                                | 7/31 [03:01<10:20, 25.84s/it]
 26%|█████████████████████▍                                                             | 8/31 [03:26<09:52, 25.74s/it]
 29%|████████████████████████                                                           | 9/31 [03:52<09:24, 25.65s/it]
 32%|██████████████████████████▍                                                       | 10/31 [04:17<08:59, 25.70s/it]
 35%|█████████████████████████████                                                     | 11/31 [04:43<08:32, 25.61s/it]
 39%|███████████████████████████████▋                                                  | 12/31 [05:09<08:08, 25.72s/it]
 42%|██████████████████████████████████▍                                               | 13/31 [05:35<07:43, 25.73s/it]
 45%|█████████████████████████████████████                                             | 14/31 [06:00<07:17, 25.75s/it]
 48%|███████████████████████████████████████▋                                          | 15/31 [06:26<06:53, 25.82s/it]
 52%|██████████████████████████████████████████▎                                       | 16/31 [06:52<06:27, 25.86s/it]
 55%|████████████████████████████████████████████▉                                     | 17/31 [07:18<06:02, 25.88s/it]
 58%|███████████████████████████████████████████████▌                                  | 18/31 [07:44<05:36, 25.88s/it]
 61%|██████████████████████████████████████████████████▎                               | 19/31 [08:10<05:10, 25.86s/it]
 65%|████████████████████████████████████████████████████▉                             | 20/31 [08:36<04:45, 25.97s/it]
 68%|███████████████████████████████████████████████████████▌                          | 21/31 [09:02<04:18, 25.88s/it]
 71%|██████████████████████████████████████████████████████████▏                       | 22/31 [09:28<03:53, 25.93s/it]
 74%|████████████████████████████████████████████████████████████▊                     | 23/31 [09:54<03:27, 25.95s/it]
 77%|███████████████████████████████████████████████████████████████▍                  | 24/31 [10:20<03:02, 26.01s/it]
 81%|██████████████████████████████████████████████████████████████████▏               | 25/31 [10:46<02:35, 25.96s/it]
 84%|████████████████████████████████████████████████████████████████████▊             | 26/31 [11:12<02:09, 25.93s/it]
 87%|███████████████████████████████████████████████████████████████████████▍          | 27/31 [11:37<01:43, 25.87s/it]
 90%|██████████████████████████████████████████████████████████████████████████        | 28/31 [12:04<01:18, 26.03s/it]
 94%|████████████████████████████████████████████████████████████████████████████▋     | 29/31 [12:29<00:51, 25.88s/it]
 97%|███████████████████████████████████████████████████████████████████████████████▎  | 30/31 [12:55<00:25, 25.69s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 31/31 [13:20<00:00, 25.82s/it]
 25%|████████████████████                                                            | 3/12 [37:21<1:54:02, 760.32s/it]
  0%|                                                                                           | 0/30 [00:00<?, ?it/s]
  3%|██▊                                                                                | 1/30 [00:20<09:57, 20.59s/it]
  7%|█████▌                                                                             | 2/30 [00:41<09:36, 20.59s/it]
 10%|████████▎                                                                          | 3/30 [01:01<09:17, 20.63s/it]
 13%|███████████                                                                        | 4/30 [01:22<08:57, 20.66s/it]
 17%|█████████████▊                                                                     | 5/30 [01:43<08:36, 20.65s/it]
 20%|████████████████▌                                                                  | 6/30 [02:03<08:14, 20.62s/it]
 23%|███████████████████▎                                                               | 7/30 [02:24<07:54, 20.62s/it]
 27%|██████████████████████▏                                                            | 8/30 [02:45<07:33, 20.62s/it]
 30%|████████████████████████▉                                                          | 9/30 [03:05<07:14, 20.68s/it]
 33%|███████████████████████████▎                                                      | 10/30 [03:26<06:54, 20.72s/it]
 37%|██████████████████████████████                                                    | 11/30 [03:48<06:38, 20.99s/it]
 40%|████████████████████████████████▊                                                 | 12/30 [04:09<06:18, 21.04s/it]
 43%|███████████████████████████████████▌                                              | 13/30 [04:30<05:59, 21.13s/it]
 47%|██████████████████████████████████████▎                                           | 14/30 [04:51<05:38, 21.13s/it]
 50%|█████████████████████████████████████████                                         | 15/30 [05:12<05:15, 21.04s/it]
 53%|███████████████████████████████████████████▋                                      | 16/30 [05:33<04:53, 20.96s/it]
 57%|██████████████████████████████████████████████▍                                   | 17/30 [05:54<04:31, 20.87s/it]
 60%|█████████████████████████████████████████████████▏                                | 18/30 [06:15<04:12, 21.01s/it]
 63%|███████████████████████████████████████████████████▉                              | 19/30 [06:36<03:50, 20.92s/it]
 67%|██████████████████████████████████████████████████████▋                           | 20/30 [06:57<03:30, 21.00s/it]
 70%|█████████████████████████████████████████████████████████▍                        | 21/30 [07:18<03:09, 21.04s/it]
 73%|████████████████████████████████████████████████████████████▏                     | 22/30 [07:39<02:49, 21.16s/it]
 77%|██████████████████████████████████████████████████████████████▊                   | 23/30 [08:02<02:30, 21.46s/it]
 80%|█████████████████████████████████████████████████████████████████▌                | 24/30 [08:24<02:10, 21.73s/it]
 83%|████████████████████████████████████████████████████████████████████▎             | 25/30 [08:45<01:48, 21.61s/it]
 87%|███████████████████████████████████████████████████████████████████████           | 26/30 [09:07<01:26, 21.73s/it]
 90%|█████████████████████████████████████████████████████████████████████████▊        | 27/30 [09:28<01:04, 21.56s/it]
 93%|████████████████████████████████████████████████████████████████████████████▌     | 28/30 [09:50<00:43, 21.68s/it]
 97%|███████████████████████████████████████████████████████████████████████████████▎  | 29/30 [10:12<00:21, 21.62s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 30/30 [10:33<00:00, 21.13s/it]
 33%|██████████████████████████▋                                                     | 4/12 [47:55<1:34:43, 710.45s/it]
  0%|                                                                                           | 0/31 [00:00<?, ?it/s]
  3%|██▋                                                                                | 1/31 [00:23<11:33, 23.13s/it]

  6%|█████▎                                                                             | 2/31 [00:45<10:59, 22.74s/it]
 10%|████████                                                                           | 3/31 [01:08<10:35, 22.69s/it]
 13%|██████████▋                                                                        | 4/31 [01:30<10:09, 22.56s/it]
 16%|█████████████▍                                                                     | 5/31 [01:52<09:44, 22.49s/it]
 19%|████████████████                                                                   | 6/31 [02:15<09:22, 22.49s/it]
 23%|██████████████████▋                                                                | 7/31 [02:37<08:58, 22.44s/it]
 26%|█████████████████████▍                                                             | 8/31 [03:00<08:35, 22.43s/it]
 29%|████████████████████████                                                           | 9/31 [03:22<08:14, 22.46s/it]
 32%|██████████████████████████▍                                                       | 10/31 [03:45<07:51, 22.47s/it]
 35%|█████████████████████████████                                                     | 11/31 [04:07<07:29, 22.47s/it]
 39%|███████████████████████████████▋                                                  | 12/31 [04:30<07:07, 22.49s/it]
 42%|██████████████████████████████████▍                                               | 13/31 [04:52<06:45, 22.50s/it]
 45%|█████████████████████████████████████                                             | 14/31 [05:15<06:21, 22.46s/it]
 48%|███████████████████████████████████████▋                                          | 15/31 [05:37<06:00, 22.51s/it]
 52%|██████████████████████████████████████████▎                                       | 16/31 [06:00<05:36, 22.46s/it]
 55%|████████████████████████████████████████████▉                                     | 17/31 [06:22<05:15, 22.55s/it]
 58%|███████████████████████████████████████████████▌                                  | 18/31 [06:45<04:53, 22.57s/it]
 61%|██████████████████████████████████████████████████▎                               | 19/31 [07:08<04:31, 22.60s/it]
 65%|████████████████████████████████████████████████████▉                             | 20/31 [07:30<04:07, 22.51s/it]
 68%|███████████████████████████████████████████████████████▌                          | 21/31 [07:52<03:44, 22.45s/it]
 71%|██████████████████████████████████████████████████████████▏                       | 22/31 [08:15<03:21, 22.41s/it]
 74%|████████████████████████████████████████████████████████████▊                     | 23/31 [08:37<02:59, 22.46s/it]
 77%|███████████████████████████████████████████████████████████████▍                  | 24/31 [08:59<02:36, 22.36s/it]
 81%|██████████████████████████████████████████████████████████████████▏               | 25/31 [09:22<02:14, 22.41s/it]
 84%|████████████████████████████████████████████████████████████████████▊             | 26/31 [09:45<01:52, 22.55s/it]
 87%|███████████████████████████████████████████████████████████████████████▍          | 27/31 [10:07<01:30, 22.52s/it]
 90%|██████████████████████████████████████████████████████████████████████████        | 28/31 [10:30<01:07, 22.53s/it]
 94%|████████████████████████████████████████████████████████████████████████████▋     | 29/31 [10:52<00:45, 22.58s/it]
 97%|███████████████████████████████████████████████████████████████████████████████▎  | 30/31 [11:15<00:22, 22.51s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 31/31 [11:37<00:00, 22.50s/it]
 42%|█████████████████████████████████▎                                              | 5/12 [59:33<1:22:20, 705.74s/it]
  0%|                                                                                           | 0/30 [00:00<?, ?it/s]
  3%|██▊                                                                                | 1/30 [00:26<12:39, 26.20s/it]
  7%|█████▌                                                                             | 2/30 [00:51<12:01, 25.75s/it]
 10%|████████▎                                                                          | 3/30 [01:17<11:32, 25.65s/it]
 13%|███████████                                                                        | 4/30 [01:42<11:08, 25.71s/it]
 17%|█████████████▊                                                                     | 5/30 [02:08<10:44, 25.78s/it]
 20%|████████████████▌                                                                  | 6/30 [02:34<10:18, 25.77s/it]
 23%|███████████████████▎                                                               | 7/30 [03:00<09:56, 25.96s/it]
 27%|██████████████████████▏                                                            | 8/30 [03:26<09:30, 25.94s/it]
 30%|████████████████████████▉                                                          | 9/30 [03:52<09:04, 25.94s/it]
 33%|███████████████████████████▎                                                      | 10/30 [04:18<08:39, 25.98s/it]
 37%|██████████████████████████████                                                    | 11/30 [04:44<08:12, 25.94s/it]
 40%|████████████████████████████████▊                                                 | 12/30 [05:10<07:46, 25.92s/it]
 43%|███████████████████████████████████▌                                              | 13/30 [05:36<07:19, 25.87s/it]
 47%|██████████████████████████████████████▎                                           | 14/30 [06:02<06:53, 25.85s/it]
 50%|█████████████████████████████████████████                                         | 15/30 [06:27<06:26, 25.79s/it]
 53%|███████████████████████████████████████████▋                                      | 16/30 [06:53<06:00, 25.78s/it]
 57%|██████████████████████████████████████████████▍                                   | 17/30 [07:19<05:34, 25.71s/it]
 60%|█████████████████████████████████████████████████▏                                | 18/30 [07:44<05:07, 25.65s/it]
 63%|███████████████████████████████████████████████████▉                              | 19/30 [08:10<04:42, 25.70s/it]
 67%|██████████████████████████████████████████████████████▋                           | 20/30 [08:35<04:16, 25.61s/it]
 70%|█████████████████████████████████████████████████████████▍                        | 21/30 [09:01<03:50, 25.58s/it]
 73%|████████████████████████████████████████████████████████████▏                     | 22/30 [09:27<03:27, 25.89s/it]
 77%|██████████████████████████████████████████████████████████████▊                   | 23/30 [09:54<03:02, 26.02s/it]
 80%|█████████████████████████████████████████████████████████████████▌                | 24/30 [10:20<02:37, 26.17s/it]
 83%|████████████████████████████████████████████████████████████████████▎             | 25/30 [10:47<02:10, 26.18s/it]
 87%|███████████████████████████████████████████████████████████████████████           | 26/30 [11:13<01:45, 26.25s/it]
 90%|█████████████████████████████████████████████████████████████████████████▊        | 27/30 [11:40<01:19, 26.46s/it]
 93%|████████████████████████████████████████████████████████████████████████████▌     | 28/30 [12:06<00:52, 26.21s/it]
 97%|███████████████████████████████████████████████████████████████████████████████▎  | 29/30 [12:31<00:26, 26.01s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 30/30 [12:57<00:00, 25.91s/it]
 50%|███████████████████████████████████████                                       | 6/12 [1:12:30<1:13:00, 730.04s/it]
  0%|                                                                                           | 0/31 [00:00<?, ?it/s]
  3%|██▋                                                                                | 1/31 [00:23<11:30, 23.03s/it]
  6%|█████▎                                                                             | 2/31 [00:46<11:12, 23.18s/it]
 10%|████████                                                                           | 3/31 [01:09<10:53, 23.34s/it]
 13%|██████████▋                                                                        | 4/31 [01:32<10:25, 23.15s/it]
 16%|█████████████▍                                                                     | 5/31 [01:55<09:59, 23.06s/it]
 19%|████████████████                                                                   | 6/31 [02:18<09:35, 23.00s/it]
 23%|██████████████████▋                                                                | 7/31 [02:41<09:11, 22.96s/it]
 26%|█████████████████████▍                                                             | 8/31 [03:04<08:47, 22.93s/it]
 29%|████████████████████████                                                           | 9/31 [03:27<08:23, 22.91s/it]
 32%|██████████████████████████▍                                                       | 10/31 [03:49<08:00, 22.86s/it]
 35%|█████████████████████████████                                                     | 11/31 [04:12<07:36, 22.84s/it]
 39%|███████████████████████████████▋                                                  | 12/31 [04:35<07:14, 22.85s/it]
 42%|██████████████████████████████████▍                                               | 13/31 [04:58<06:50, 22.83s/it]
 45%|█████████████████████████████████████                                             | 14/31 [05:21<06:31, 23.05s/it]
 48%|███████████████████████████████████████▋                                          | 15/31 [05:45<06:10, 23.14s/it]
 52%|██████████████████████████████████████████▎                                       | 16/31 [06:08<05:47, 23.18s/it]
 55%|████████████████████████████████████████████▉                                     | 17/31 [06:31<05:24, 23.18s/it]
 58%|███████████████████████████████████████████████▌                                  | 18/31 [06:54<05:00, 23.14s/it]
 61%|██████████████████████████████████████████████████▎                               | 19/31 [07:17<04:36, 23.02s/it]
 65%|████████████████████████████████████████████████████▉                             | 20/31 [07:40<04:12, 22.95s/it]
 68%|███████████████████████████████████████████████████████▌                          | 21/31 [08:03<03:49, 22.90s/it]
 71%|██████████████████████████████████████████████████████████▏                       | 22/31 [08:26<03:26, 22.93s/it]
 74%|████████████████████████████████████████████████████████████▊                     | 23/31 [08:49<03:04, 23.12s/it]
 77%|███████████████████████████████████████████████████████████████▍                  | 24/31 [09:13<02:42, 23.21s/it]
 81%|██████████████████████████████████████████████████████████████████▏               | 25/31 [09:36<02:19, 23.22s/it]
 84%|████████████████████████████████████████████████████████████████████▊             | 26/31 [09:59<01:56, 23.20s/it]
 87%|███████████████████████████████████████████████████████████████████████▍          | 27/31 [10:22<01:32, 23.18s/it]
 90%|██████████████████████████████████████████████████████████████████████████        | 28/31 [10:45<01:09, 23.21s/it]
 94%|████████████████████████████████████████████████████████████████████████████▋     | 29/31 [11:09<00:46, 23.32s/it]
 97%|███████████████████████████████████████████████████████████████████████████████▎  | 30/31 [11:32<00:23, 23.30s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 31/31 [11:56<00:00, 23.10s/it]
 58%|█████████████████████████████████████████████▌                                | 7/12 [1:24:26<1:00:27, 725.49s/it]
  0%|                                                                                           | 0/31 [00:00<?, ?it/s]
  3%|██▋                                                                                | 1/31 [00:23<11:33, 23.11s/it]
  6%|█████▎                                                                             | 2/31 [00:46<11:17, 23.35s/it]
 10%|████████                                                                           | 3/31 [01:09<10:51, 23.26s/it]
 13%|██████████▋                                                                        | 4/31 [01:32<10:26, 23.20s/it]
 16%|█████████████▍                                                                     | 5/31 [01:56<10:02, 23.18s/it]
 19%|████████████████                                                                   | 6/31 [02:19<09:41, 23.26s/it]
 23%|██████████████████▋                                                                | 7/31 [02:42<09:15, 23.16s/it]
 26%|█████████████████████▍                                                             | 8/31 [03:05<08:51, 23.12s/it]
 29%|████████████████████████                                                           | 9/31 [03:28<08:28, 23.12s/it]
 32%|██████████████████████████▍                                                       | 10/31 [03:51<08:05, 23.12s/it]
 35%|█████████████████████████████                                                     | 11/31 [04:14<07:42, 23.14s/it]
 39%|███████████████████████████████▋                                                  | 12/31 [04:38<07:20, 23.20s/it]
 42%|██████████████████████████████████▍                                               | 13/31 [05:01<06:56, 23.11s/it]
 45%|█████████████████████████████████████                                             | 14/31 [05:24<06:31, 23.06s/it]
 48%|███████████████████████████████████████▋                                          | 15/31 [05:48<06:13, 23.33s/it]
 52%|██████████████████████████████████████████▎                                       | 16/31 [06:11<05:48, 23.23s/it]
 55%|████████████████████████████████████████████▉                                     | 17/31 [06:33<05:23, 23.13s/it]
 58%|███████████████████████████████████████████████▌                                  | 18/31 [06:56<05:00, 23.12s/it]
 61%|██████████████████████████████████████████████████▎                               | 19/31 [07:19<04:36, 23.02s/it]
 65%|████████████████████████████████████████████████████▉                             | 20/31 [07:42<04:12, 22.95s/it]
 68%|███████████████████████████████████████████████████████▌                          | 21/31 [08:05<03:49, 22.90s/it]
 71%|██████████████████████████████████████████████████████████▏                       | 22/31 [08:28<03:25, 22.84s/it]
 74%|████████████████████████████████████████████████████████████▊                     | 23/31 [08:50<03:02, 22.84s/it]
 77%|███████████████████████████████████████████████████████████████▍                  | 24/31 [09:13<02:40, 22.91s/it]
 81%|██████████████████████████████████████████████████████████████████▏               | 25/31 [09:36<02:17, 22.86s/it]
 84%|████████████████████████████████████████████████████████████████████▊             | 26/31 [09:59<01:54, 22.84s/it]
 87%|███████████████████████████████████████████████████████████████████████▍          | 27/31 [10:22<01:31, 22.83s/it]
 90%|██████████████████████████████████████████████████████████████████████████        | 28/31 [10:45<01:08, 22.80s/it]
 94%|████████████████████████████████████████████████████████████████████████████▋     | 29/31 [11:07<00:45, 22.79s/it]
 97%|███████████████████████████████████████████████████████████████████████████████▎  | 30/31 [11:30<00:22, 22.77s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 31/31 [11:53<00:00, 23.01s/it]
 67%|█████████████████████████████████████████████████████▎                          | 8/12 [1:36:20<48:06, 721.66s/it]
  0%|                                                                                           | 0/30 [00:00<?, ?it/s]
  3%|██▊                                                                                | 1/30 [00:21<10:28, 21.67s/it]
  7%|█████▌                                                                             | 2/30 [00:43<10:11, 21.84s/it]

 10%|████████▎                                                                          | 3/30 [01:05<09:44, 21.64s/it]
 13%|███████████                                                                        | 4/30 [01:26<09:21, 21.59s/it]
 17%|█████████████▊                                                                     | 5/30 [01:47<08:58, 21.53s/it]
 20%|████████████████▌                                                                  | 6/30 [02:09<08:36, 21.53s/it]
 23%|███████████████████▎                                                               | 7/30 [02:31<08:15, 21.52s/it]
 27%|██████████████████████▏                                                            | 8/30 [02:52<07:54, 21.56s/it]
 30%|████████████████████████▉                                                          | 9/30 [03:14<07:32, 21.54s/it]
 33%|███████████████████████████▎                                                      | 10/30 [03:35<07:10, 21.51s/it]
 37%|██████████████████████████████                                                    | 11/30 [03:57<06:48, 21.50s/it]
 40%|████████████████████████████████▊                                                 | 12/30 [04:18<06:27, 21.50s/it]
 43%|███████████████████████████████████▌                                              | 13/30 [04:40<06:05, 21.49s/it]
 47%|██████████████████████████████████████▎                                           | 14/30 [05:01<05:44, 21.53s/it]
 50%|█████████████████████████████████████████                                         | 15/30 [05:23<05:22, 21.51s/it]
 53%|███████████████████████████████████████████▋                                      | 16/30 [05:44<05:01, 21.53s/it]
 57%|██████████████████████████████████████████████▍                                   | 17/30 [06:06<04:39, 21.51s/it]
 60%|█████████████████████████████████████████████████▏                                | 18/30 [06:27<04:18, 21.56s/it]
 63%|███████████████████████████████████████████████████▉                              | 19/30 [06:49<03:56, 21.53s/it]
 67%|██████████████████████████████████████████████████████▋                           | 20/30 [07:11<03:37, 21.78s/it]
 70%|█████████████████████████████████████████████████████████▍                        | 21/30 [07:33<03:15, 21.69s/it]
 73%|████████████████████████████████████████████████████████████▏                     | 22/30 [07:54<02:53, 21.65s/it]
 77%|██████████████████████████████████████████████████████████████▊                   | 23/30 [08:16<02:31, 21.59s/it]
 80%|█████████████████████████████████████████████████████████████████▌                | 24/30 [08:37<02:09, 21.57s/it]
 83%|████████████████████████████████████████████████████████████████████▎             | 25/30 [08:59<01:47, 21.54s/it]
 87%|███████████████████████████████████████████████████████████████████████           | 26/30 [09:20<01:26, 21.55s/it]
 90%|█████████████████████████████████████████████████████████████████████████▊        | 27/30 [09:42<01:04, 21.60s/it]
 93%|████████████████████████████████████████████████████████████████████████████▌     | 28/30 [10:03<00:43, 21.54s/it]
 97%|███████████████████████████████████████████████████████████████████████████████▎  | 29/30 [10:25<00:21, 21.54s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 30/30 [10:46<00:00, 21.56s/it]
 75%|████████████████████████████████████████████████████████████                    | 9/12 [1:47:06<34:54, 698.27s/it]
  0%|                                                                                           | 0/31 [00:00<?, ?it/s]
  3%|██▋                                                                                | 1/31 [00:22<11:05, 22.19s/it]
  6%|█████▎                                                                             | 2/31 [00:44<10:43, 22.18s/it]
 10%|████████                                                                           | 3/31 [01:06<10:22, 22.23s/it]
 13%|██████████▋                                                                        | 4/31 [01:28<10:00, 22.25s/it]
 16%|█████████████▍                                                                     | 5/31 [01:51<09:37, 22.23s/it]
 19%|████████████████                                                                   | 6/31 [02:13<09:15, 22.21s/it]
 23%|██████████████████▋                                                                | 7/31 [02:35<08:52, 22.19s/it]
 26%|█████████████████████▍                                                             | 8/31 [02:57<08:30, 22.19s/it]
 29%|████████████████████████                                                           | 9/31 [03:19<08:08, 22.21s/it]
 32%|██████████████████████████▍                                                       | 10/31 [03:42<07:47, 22.26s/it]
 35%|█████████████████████████████                                                     | 11/31 [04:04<07:25, 22.27s/it]
 39%|███████████████████████████████▋                                                  | 12/31 [04:26<07:02, 22.24s/it]
 42%|██████████████████████████████████▍                                               | 13/31 [04:49<06:41, 22.29s/it]
 45%|█████████████████████████████████████                                             | 14/31 [05:11<06:18, 22.26s/it]
 48%|███████████████████████████████████████▋                                          | 15/31 [05:33<05:56, 22.26s/it]
 52%|██████████████████████████████████████████▎                                       | 16/31 [05:55<05:33, 22.26s/it]
 55%|████████████████████████████████████████████▉                                     | 17/31 [06:18<05:11, 22.25s/it]
 58%|███████████████████████████████████████████████▌                                  | 18/31 [06:40<04:49, 22.26s/it]
 61%|██████████████████████████████████████████████████▎                               | 19/31 [07:02<04:27, 22.26s/it]
 65%|████████████████████████████████████████████████████▉                             | 20/31 [07:25<04:05, 22.30s/it]
 68%|███████████████████████████████████████████████████████▌                          | 21/31 [07:47<03:42, 22.30s/it]
 71%|██████████████████████████████████████████████████████████▏                       | 22/31 [08:09<03:20, 22.33s/it]
 74%|████████████████████████████████████████████████████████████▊                     | 23/31 [08:31<02:58, 22.29s/it]
 77%|███████████████████████████████████████████████████████████████▍                  | 24/31 [08:54<02:36, 22.29s/it]
 81%|██████████████████████████████████████████████████████████████████▏               | 25/31 [09:16<02:13, 22.27s/it]
 84%|████████████████████████████████████████████████████████████████████▊             | 26/31 [09:38<01:51, 22.26s/it]
 87%|███████████████████████████████████████████████████████████████████████▍          | 27/31 [10:00<01:28, 22.24s/it]
 90%|██████████████████████████████████████████████████████████████████████████        | 28/31 [10:23<01:06, 22.23s/it]
 94%|████████████████████████████████████████████████████████████████████████████▋     | 29/31 [10:45<00:44, 22.29s/it]
 97%|███████████████████████████████████████████████████████████████████████████████▎  | 30/31 [11:07<00:22, 22.24s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 31/31 [11:29<00:00, 22.25s/it]
 83%|█████████████████████████████████████████████████████████████████▊             | 10/12 [1:58:36<23:11, 695.66s/it]
  0%|                                                                                           | 0/30 [00:00<?, ?it/s]
  3%|██▊                                                                                | 1/30 [00:25<12:06, 25.05s/it]
  7%|█████▌                                                                             | 2/30 [00:50<11:41, 25.06s/it]
 10%|████████▎                                                                          | 3/30 [01:15<11:18, 25.14s/it]
 13%|███████████                                                                        | 4/30 [01:40<10:52, 25.11s/it]
 17%|█████████████▊                                                                     | 5/30 [02:05<10:29, 25.18s/it]
 20%|████████████████▌                                                                  | 6/30 [02:30<10:03, 25.13s/it]
 23%|███████████████████▎                                                               | 7/30 [02:55<09:37, 25.11s/it]
 27%|██████████████████████▏                                                            | 8/30 [03:20<09:11, 25.08s/it]
 30%|████████████████████████▉                                                          | 9/30 [03:45<08:46, 25.07s/it]
 33%|███████████████████████████▎                                                      | 10/30 [04:10<08:21, 25.06s/it]
 37%|██████████████████████████████                                                    | 11/30 [04:35<07:55, 25.05s/it]
 40%|████████████████████████████████▊                                                 | 12/30 [05:01<07:31, 25.11s/it]
 43%|███████████████████████████████████▌                                              | 13/30 [05:26<07:06, 25.11s/it]
 47%|██████████████████████████████████████▎                                           | 14/30 [05:51<06:42, 25.18s/it]
 50%|█████████████████████████████████████████                                         | 15/30 [06:16<06:17, 25.16s/it]
 53%|███████████████████████████████████████████▋                                      | 16/30 [06:41<05:51, 25.11s/it]
 57%|██████████████████████████████████████████████▍                                   | 17/30 [07:06<05:26, 25.09s/it]
 60%|█████████████████████████████████████████████████▏                                | 18/30 [07:32<05:01, 25.13s/it]
 63%|███████████████████████████████████████████████████▉                              | 19/30 [07:57<04:36, 25.12s/it]
 67%|██████████████████████████████████████████████████████▋                           | 20/30 [08:22<04:10, 25.09s/it]
 70%|█████████████████████████████████████████████████████████▍                        | 21/30 [08:47<03:45, 25.08s/it]
 73%|████████████████████████████████████████████████████████████▏                     | 22/30 [09:12<03:20, 25.07s/it]
 77%|██████████████████████████████████████████████████████████████▊                   | 23/30 [09:37<02:55, 25.05s/it]
 80%|█████████████████████████████████████████████████████████████████▌                | 24/30 [10:02<02:30, 25.05s/it]
 83%|████████████████████████████████████████████████████████████████████▎             | 25/30 [10:27<02:05, 25.13s/it]
 87%|███████████████████████████████████████████████████████████████████████           | 26/30 [10:52<01:40, 25.09s/it]
 90%|█████████████████████████████████████████████████████████████████████████▊        | 27/30 [11:17<01:14, 24.97s/it]
 93%|████████████████████████████████████████████████████████████████████████████▌     | 28/30 [11:42<00:49, 24.96s/it]
 97%|███████████████████████████████████████████████████████████████████████████████▎  | 29/30 [12:07<00:24, 24.99s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 30/30 [12:32<00:00, 25.08s/it]
 92%|████████████████████████████████████████████████████████████████████████▍      | 11/12 [2:11:09<11:53, 713.01s/it]
  0%|                                                                                           | 0/31 [00:00<?, ?it/s]
  3%|██▋                                                                                | 1/31 [00:20<10:25, 20.84s/it]
  6%|█████▎                                                                             | 2/31 [00:41<10:04, 20.86s/it]
 10%|████████                                                                           | 3/31 [01:02<09:44, 20.87s/it]
 13%|██████████▋                                                                        | 4/31 [01:23<09:23, 20.86s/it]
 16%|█████████████▍                                                                     | 5/31 [01:44<09:02, 20.85s/it]
 19%|████████████████                                                                   | 6/31 [02:05<08:42, 20.88s/it]
 23%|██████████████████▋                                                                | 7/31 [02:26<08:22, 20.93s/it]
 26%|█████████████████████▍                                                             | 8/31 [02:46<08:00, 20.87s/it]
 29%|████████████████████████                                                           | 9/31 [03:07<07:39, 20.87s/it]
 32%|██████████████████████████▍                                                       | 10/31 [03:28<07:18, 20.87s/it]
 35%|█████████████████████████████                                                     | 11/31 [03:49<06:57, 20.87s/it]
 39%|███████████████████████████████▋                                                  | 12/31 [04:10<06:36, 20.86s/it]
 42%|██████████████████████████████████▍                                               | 13/31 [04:31<06:15, 20.87s/it]
 45%|█████████████████████████████████████                                             | 14/31 [04:52<05:54, 20.86s/it]
 48%|███████████████████████████████████████▋                                          | 15/31 [05:13<05:34, 20.92s/it]
 52%|██████████████████████████████████████████▎                                       | 16/31 [05:34<05:14, 20.93s/it]
 55%|████████████████████████████████████████████▉                                     | 17/31 [05:55<04:52, 20.92s/it]
 58%|███████████████████████████████████████████████▌                                  | 18/31 [06:15<04:31, 20.91s/it]
 61%|██████████████████████████████████████████████████▎                               | 19/31 [06:36<04:11, 20.92s/it]
 65%|████████████████████████████████████████████████████▉                             | 20/31 [06:57<03:50, 20.95s/it]
 68%|███████████████████████████████████████████████████████▌                          | 21/31 [07:18<03:29, 20.92s/it]
 71%|██████████████████████████████████████████████████████████▏                       | 22/31 [07:39<03:08, 20.92s/it]
 74%|████████████████████████████████████████████████████████████▊                     | 23/31 [08:00<02:47, 20.94s/it]
 77%|███████████████████████████████████████████████████████████████▍                  | 24/31 [08:21<02:26, 20.91s/it]
 81%|██████████████████████████████████████████████████████████████████▏               | 25/31 [08:42<02:05, 20.89s/it]
 84%|████████████████████████████████████████████████████████████████████▊             | 26/31 [09:03<01:44, 20.87s/it]
 87%|███████████████████████████████████████████████████████████████████████▍          | 27/31 [09:24<01:23, 20.88s/it]
 90%|██████████████████████████████████████████████████████████████████████████        | 28/31 [09:44<01:02, 20.86s/it]
 94%|████████████████████████████████████████████████████████████████████████████▋     | 29/31 [10:05<00:41, 20.86s/it]
 97%|███████████████████████████████████████████████████████████████████████████████▎  | 30/31 [10:26<00:20, 20.92s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 31/31 [10:47<00:00, 20.89s/it]
100%|███████████████████████████████████████████████████████████████████████████████| 12/12 [2:21:56<00:00, 709.73s/it]

In [28]:
total_df=total_df.append(total)
total_index_df=total_index_df.append(total_index)

In [29]:
total_df.to_csv("Train_data_set.csv", encoding='utf-8-sig', index=False)

In [30]:
total_index_df.to_csv("Train_risk_data_set.csv", encoding='utf-8-sig', index=False)

In [7]:
total_df=pd.read_csv("Train_data_set.csv", encoding='utf-8-sig')

In [8]:
total_index_df=pd.read_csv("Train_risk_data_set.csv", encoding='utf-8-sig')

In [9]:
total_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4896378 entries, 0 to 4896377
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   month   int64
 1   day     int64
 2   시도      object
 3   시군구     object
 4   철새수     int64
 5   최초발생거리  int64
 6   평균온도    float64
 7   일강수량    float64
 8   상대습도    float64
 9   위험도     float64
dtypes: float64(4), int64(4), object(2)
memory usage: 373.6+ MB

In [5]:
total_df.query("시군구=='종로구'").reset_index(drop=True)

       month  day     시도  시군구     철새수  최초발생거리  평균온도  일강수량  상대습도  위험도
0          1    1  서울특별시  종로구  126690       0  -1.8   0.0  64.2  NaN
1          1    1  서울특별시  종로구  126690      10  -1.8   0.0  64.2  NaN
2          1    1  서울특별시  종로구  126690      20  -1.8   0.0  64.2  NaN
3          1    1  서울특별시  종로구  126690      30  -1.8   0.0  64.2  NaN
4          1    1  서울특별시  종로구  126690      40  -1.8   0.0  64.2  NaN
...      ...  ...    ...  ...     ...     ...   ...   ...   ...  ...
23649     12   31  서울특별시  종로구  136044     240  -3.2   0.1  62.0  NaN
23650     12   31  서울특별시  종로구  136044     250  -3.2   0.1  62.0  NaN
23651     12   31  서울특별시  종로구  136044     260  -3.2   0.1  62.0  NaN
23652     12   31  서울특별시  종로구  136044     270  -3.2   0.1  62.0  NaN
23653     12   31  서울특별시  종로구  136044     280  -3.2   0.1  62.0  NaN

[23654 rows x 10 columns]

In [10]:
# 상대습도 데이터는 다중공선성으로 독립변수로 지움
total_df.drop(['상대습도'], axis=1, inplace=True)
total_index_df.drop(['상대습도'], axis=1, inplace=True)

In [11]:
# 위험도 부여 (철새수: 0.3, 최초발생거리:0.5, 평균온도:0.14, 일강수량:0.06)
total_index_df['위험도']=total_index_df['철새수']*0.3+total_index_df['최초발생거리']*0.5+total_index_df['평균온도']*0.14+total_index_df['일강수량']*0.06
total_index_df['위험도']=total_index_df['위험도'].map(lambda x : np.round(x,1))

In [12]:
total_df['위험도']=total_index_df['위험도']

In [13]:
total_df.to_csv("Train_data_set.csv", encoding='utf-8-sig', index=False)

In [14]:
total_index_df.to_csv("Train_risk_data_set.csv", encoding='utf-8-sig', index=False)

### RandomForest을 이용한 데이터 평가

In [69]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from tensorflow.keras.utils import to_categorical
# pytorch로 괜찮은 성능 모델 확인 (XG BOOST, )
# 독립변수 계속 추가하기 
# 웹 UI (openstreet tool) (시각화 해보기) 근거 있는 주장 # 하나 입력했을때는 무조건 하는 것으로..

In [246]:
train_data=total_df.drop(['위험도'], axis=1)
target_data=total_df[['위험도']].astype('str')

In [247]:
print(set(total_df[['위험도']]['위험도'].values))

{0.9, 1.7, 2.0, 2.6, 4.5, 5.1, 4.8, 7.6, 7.0, 7.3, 2.3, 7.9, 5.4, 8.5, 6.0, 6.7, 3.5, 10.0, 9.4, 2.5, 4.0, 4.4, 4.6, 4.9, 0.6, 5.9, 5.0, 5.6, 6.5, 1.5, 6.9, 6.1, 0.0, 7.5, 7.1, 1.1, 7.4, 8.2, 8.8, 2.1, 3.6, 3.1, 1.2, 2.8, 0.3, 3.3, 0.8, 3.2, 3.8, 3.7, 4.2, 4.3, 1.8, 5.3, 5.8, 5.7, 6.3, 6.2, 6.8, 2.9, 2.4, 3.4}

In [258]:
# 시도, 시군구 범주화 하기
encoded_value, encoded_class = pd.factorize(train_data['시도'])
train_data['encoded_시도'] = encoded_value

In [259]:
print(set(encoded_value))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16}

In [267]:
print(list(encoded_class))

['서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시', '세종특별자치시', '경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도', '경상북도', '경상남도', '제주특별자치도']

In [262]:
encoded_value2, encoded_class2 = pd.factorize(train_data['시군구'])
train_data['encoded_시군구'] = encoded_value2

In [265]:
print(set(encoded_value2))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206}

In [268]:
print(list(encoded_class2))

['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구', '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구', '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구', '서구', '동구', '영도구', '부산진구', '동래구', '남구', '북구', '해운대구', '사하구', '금정구', '연제구', '수영구', '사상구', '기장군', '수성구', '달서구', '달성군', '미추홀구', '연수구', '남동구', '부평구', '계양구', '강화군', '옹진군', '광산구', '유성구', '대덕구', '울주군', '세종시', '수원시', '성남시', '의정부시', '안양시', '부천시', '광명시', '평택시', '동두천시', '안산시', '고양시', '과천시', '구리시', '남양주시', '오산시', '시흥시', '군포시', '의왕시', '하남시', '용인시', '파주시', '이천시', '안성시', '김포시', '화성시', '광주시', '양주시', '포천시', '여주시', '연천군', '가평군', '양평군', '춘천시', '원주시', '강릉시', '동해시', '태백시', '속초시', '삼척시', '홍천군', '횡성군', '영월군', '평창군', '정선군', '철원군', '화천군', '양구군', '인제군', '고성군', '양양군', '청주시', '충주시', '제천시', '보은군', '옥천군', '영동군', '증평군', '진천군', '괴산군', '음성군', '단양군', '천안시', '공주시', '보령시', '아산시', '서산시', '논산시', '계룡시', '당진시', '금산군', '부여군', '서천군', '청양군', '홍성군', '예산군', '태안군', '전주시', '군산시', '익산시', '정읍시', '남원시', '김제시', '완주군', '진안군', '무주군', '장수군', '임실군', '순창군', '고창군', '부안군', '목포시', '여수시', '순천시', '나주시', '광양시', '담양군', '곡성군', '구례군', '고흥군', '보성군', '화순군', '장흥군', '강진군', '해남군', '영암군', '무안군', '함평군', '영광군', '장성군', '완도군', '진도군', '신안군', '포항시', '경주시', '김천시', '안동시', '구미시', '영주시', '영천시', '상주시', '문경시', '경산시', '군위군', '의성군', '청송군', '영양군', '영덕군', '청도군', '고령군', '성주군', '칠곡군', '예천군', '봉화군', '울진군', '울릉군', '창원시', '진주시', '통영시', '사천시', '김해시', '밀양시', '거제시', '양산시', '의령군', '함안군', '창녕군', '남해군', '하동군', '산청군', '함양군', '거창군', '합천군', '제주시', '서귀포시']

In [250]:
train_data.head()

  month day     시도  시군구     철새수 최초발생거리  평균온도  상대습도  encoded_시도  encoded_시군구
0     1   1  서울특별시  종로구  126690      0  -1.8  64.2           0            0
1     1   1  서울특별시  종로구  126690     10  -1.8  64.2           0            0
2     1   1  서울특별시  종로구  126690     20  -1.8  64.2           0            0
3     1   1  서울특별시  종로구  126690     30  -1.8  64.2           0            0
4     1   1  서울특별시  종로구  126690     40  -1.8  64.2           0            0

In [251]:
train_data2=train_data.drop(['시도','시군구'], axis=1)

In [252]:
target_data2 = pd.get_dummies(target_data['위험도'])
target_data_result = pd.concat([target_data, target_data2], axis=1)

In [253]:
target_data_result.head()

,위험도,0.0,0.3,0.6,0.8,0.9,1.1,1.2,1.5,1.7,...,7.1,7.3,7.4,7.5,7.6,7.9,8.2,8.5,8.8,9.4
0,7.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,7.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,7.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,7.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [282]:
train_x, test_x, train_y, test_y = train_test_split(train_data2, target_data2, test_size = 0.2, random_state = 42)

In [169]:
clf = RandomForestClassifier(n_estimators=10, max_depth=10, random_state=42)
clf.fit(train_x,train_y)

RandomForestClassifier(max_depth=10, n_estimators=10, random_state=42)

In [170]:
predict1 = clf.predict(test_x)
print(accuracy_score(test_y,predict1))

0.7570082387396403

In [178]:
test_result=pd.DataFrame(predict1, columns=target_data2.columns)

In [182]:
test_result.head()

,0.0,0.3,0.6,0.8,0.9,1.1,1.2,1.5,1.7,1.8,...,7.1,7.3,7.4,7.5,7.6,7.9,8.2,8.5,8.8,9.4
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [194]:
test_x.reset_index(drop=True, inplace=True)

In [195]:
test_x.head()

  month day  시도  시군구      철새수 최초발생거리  평균온도  상대습도
0     5   6   3   11        0     10  16.6  61.0
1     1  14  15   72  3370301    100  -1.2  68.3
2     6  15   8    2        0    350  21.6  73.5
3     6  27   0  182        0    320  23.4  71.0
4     3   3  15   51  1180533     90   5.6  64.5

In [196]:
test_x['위험도']=np.nan

<ipython-input-196-4f4c3958aba2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_x['위험도']=np.nan

In [197]:
test_result.head()

,0.0,0.3,0.6,0.8,0.9,1.1,1.2,1.5,1.7,1.8,...,7.1,7.3,7.4,7.5,7.6,7.9,8.2,8.5,8.8,9.4
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [204]:
# test 데이터 결합
df=test_result[test_result==1].stack().reset_index().drop(0,1)
df.set_index('level_0',inplace=True)

In [212]:
df.head()

        level_1
level_0
0           7.0
1           7.5
2           2.0
3           0.0
4           6.0

In [206]:
test_x['위험도']=df['level_1']

<ipython-input-206-5ccffef85e2a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_x['위험도']=df['level_1']

In [211]:
test_x.tail()

       month day  시도  시군구      철새수 최초발생거리  평균온도  상대습도  위험도
489633    12   9   8    4   136044    230   0.8  57.3  2.0
489634     1  14   1   79  1242626    190  -1.7  58.3  3.5
489635     1  29   2  195   347682    170   2.4  68.3  NaN
489636    11  10   6  147        0     40   8.6  75.8  NaN
489637     3  21   1  136  1133953    170   7.7  63.3  NaN

In [241]:
test_x.to_csv("test_data(acc=75%).csv", encoding='utf-8-sig', index=False)

In [240]:
# 없는 데이터가 있음 (정확도에 미치지 못하는 것은 추출 못함)
for i in list(test_result.iloc[-1].index):
    if test_result.iloc[-1][i]==1:
        print(i)

In [ ]:
# 과거 발생했던 시점과 현재 모델 비교 가능
# 타겟데이터는 맨앞으로 빼는게 좋다. (뒤에 훈련데이터를 넣으면 되기 때문이다.)

### XGBoost Classifier 모델 이용

In [298]:
import xgboost

In [318]:
train_data=total_df.drop(['위험도'], axis=1)
target_data=total_df[['위험도']]

In [319]:
# 시도, 시군구 범주화 하기
encoded_value, encoded_class = pd.factorize(train_data['시도'])
train_data['encoded_시도'] = encoded_value

In [320]:
encoded_value2, encoded_class2 = pd.factorize(train_data['시군구'])
train_data['encoded_시군구'] = encoded_value2

In [321]:
train_data2=train_data.drop(['시도','시군구'], axis=1)

In [322]:
train_X, test_X, train_Y, test_Y = train_test_split(train_data2, target_data, test_size = 0.2, random_state = 42)

In [323]:
print(train_X.shape, test_X.shape)

(1958551, 8) (489638, 8)

In [324]:
print(train_Y.shape, test_Y.shape)

(1958551, 1) (489638, 1)

In [325]:
model = xgboost.XGBClassifier()
model.fit(train_X.values, train_Y.values)

[16:11:43] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=16, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [338]:
y_pred = model.predict(test_X.values)
predictions = [np.round(value,1) for value in y_pred]

In [345]:
len(predictions)

489638

In [352]:
len(list(test_Y['위험도']))

489638

In [371]:
test_Y['위험도'].values[0]

7.0

In [372]:
predictions[0]

7.0

In [376]:
print("(pred == y_test) score: {0:.3f}".format((y_pred==test_Y['위험도'].values).mean()))

(pred == y_test) score: 0.913

In [377]:
# 모델 저장
import joblib
joblib.dump(model, 'risk_data/xgboost.pkl')

['risk_data/xgboost.pkl']

In [378]:
# 모델 불러오기
loaded_model=joblib.load('risk_data/xgboost.pkl')

In [379]:
y_pred = loaded_model.predict(test_X.values)

In [380]:
print("(pred == y_test) score: {0:.3f}".format((y_pred==test_Y['위험도'].values).mean()))

(pred == y_test) score: 0.913