In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("HPAIOccurlist_final_v2.csv", encoding='utf-8-sig')

In [3]:
data.head()

        발생일  지역코드   시도  시군구  year  month  day
0  20210223   114  강원도  원주시  2021      2   23
1  20170103   211  강원도  인제군  2017      1    3
2  20161209    95  강원도  철원군  2016     12    9
3  20161130    95  강원도  철원군  2016     11   30
4  20080507   101  강원도  춘천시  2008      5    7

In [4]:
# 21년 데이터 제외
data=data[data['year']<2021]

In [5]:
data.head()

        발생일  지역코드   시도  시군구  year  month  day
1  20170103   211  강원도  인제군  2017      1    3
2  20161209    95  강원도  철원군  2016     12    9
3  20161130    95  강원도  철원군  2016     11   30
4  20080507   101  강원도  춘천시  2008      5    7
5  20080507   101  강원도  춘천시  2008      5    7

In [6]:
df=pd.DataFrame(columns=['시도','시군구','month','발생수'])
for n1, group in data.groupby(['시도','시군구','month']):
    df=df.append({"시도":n1[0],"시군구":n1[1],"month":n1[2],"발생수":len(group)}, ignore_index=True)

In [7]:
df['rank']=df['발생수'].rank(method='dense')

In [8]:
print("평균: ",np.mean(df['rank']))
print("큰 수:",max(df['rank']))
print("개수:", len(df['rank']))

평균:  3.6259541984732824
큰 수: 25.0
개수: 262

In [21]:
df.query("rank==9")

       시도  시군구 month 발생수  rank
160  전라남도  영암군    12   9   9.0
208  전라북도  정읍시     1   9   9.0
235  충청남도  천안시     2   9   9.0

In [24]:
df.to_csv("risk_data/weight_variable/Period_weight.csv", index=False, encoding='utf-8-sig')